{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="complete">
        <div class="container-complete">


            <div class="title">
                Спасибо. Мы свяжемся с вами в ближайшее время.
            </div>
            <div class="description">
                Ваше сообщение было отправлено! Мы ценим вас и возможность работать с вами. Оставайтесь с нами, и мы
                свяжемся с вами в ближайшее время.
            </div>
        </div>
    </div>
</div>
    <style>
    footer{
        display: none;
    }
    </style>
{% endblock %}
