{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">Проекты</div>
                <div class="title-quote">Каждый наш проект это особый подход, мы реализуем каждую вашу идею со страстью
                    и
                    качеством.
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row search-project">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div>Наши проекты</div>
                    <span class="title-description">Все наши реализованные проекты</span>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li><a href="#">Сайты</a></li>
                        <li><a href="#">Приложение</a></li>
                        <li><a href="#">Другое</a></li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <ul class="region">
                        <li><a href="#">Недвижимость</a></li>
                        <li><a href="#">Магазины</a></li>
                        <li><a href="#">Гос. Учреждения</a></li>
                        <li><a href="#">IT-Компании</a></li>
                        <li><a href="#">Промышленность</a></li>
                        <li><a href="#">Другое</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-7">
                <div onClick="location.href='{% url "not_added" %}'" class="card drone">
                    <div class="description">создание дрона перехватчика для Омского НИИ Приборостроения</div>
                    <div class="title">
                        Новый вид безопасности
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div onClick="location.href='{% url "not_added" %}'" class="card keyauto">
                    <div class="description">Разработка по для информационного коиска ключ авто
                    </div>
                    <div class="title">
                        простота и удобство
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div onClick="location.href='{% url "not_added" %}'" class="card lambda">
                    <div class="description">Разработка сайта СТУДЕНЧЕСКОГО клуба МАИ Lambda</div>
                    <div class="title">
                        Учеба и знания
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div onClick="location.href='{% url "not_added" %}'" class="card neoselen">
                    <div class="description">Разработка сайта для фармацевтической компании Нео Матрица здоровья
                    </div>
                    <div class="title">
                        Забота о здоровье и близких
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 load-more">
                    <span class="show-me-more">Показать еще</span>
                </div>
            </div>
        </div>
    </div>


    <div class="container in-progress">
        <div class="row ">
            <div class="col-md-4">
                <div class="title">Проекты в работе</div>
                <span class="description">Наши последние и текущие проекты</span>
            </div>
            <div class="col-md-8">
                {% for soc in contact.contacts.all %}
                    <div class="soc-icon {{ soc.cssClass }}">
                        <a href=" {{ soc.link }}"><i class="mdi  {{ soc.icon_name }}"></i></a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row works">
            {% for work in inwork %}
                <div class="col-md-4 work-item">
                    <div class="holder">
                        <a href="{{ work.link }}" class="holder-img">
                            <img src="{{ work.img.url }}" class="img-responsive">
                        </a>
                    </div>
                </div>
            {% endfor %}


            <div class="col-md-12 load-more">
                <span class="show-me-more">Показать еще</span>
            </div>


        </div>
    </div>
    </div>
{% endblock %}
